<html>
  <head>
    <meta charset="utf-8">
    <title>OAuth</title>
  </head>
  <body>

    <h1>Welcome to your profile </h1>

    <a href="/auth/google">Google</a>
    <a href="/auth/logout">Logout</a>
    
  </body>
</html>